<div class="global-community">
    <% @allegiance = session[:user].allegiance %>
    <div class="global-head">
        <nav>
            <ul>
                <li><a href="/profile"> Back to Profile </a></li>
                <li><a href="/addpost"> New Post </a></li>
                <li><a href="/local"><%= @allegiance %> Community</a></li>
            </ul>
        </nav>
    </div>

    <h2 class="global-title"> Welcome to the Global Community! </h2>


    <section class="global-posts">

        <% $posts.reverse.each do |post| %>
        <% if post.post_category == 'global' %>
        <div class="global-block">
            <h3> <%= post.post_title %> </h3>
            <p> <%= post.author %> </p>
            <p id="global-created"> <%= post.created_at %> </p>
            <img src="<%= post.image_url %>" >
            <p id="global-content">  <%= post.post_content %> </p>
        </div>            
            <% end %>
        <% end %>

    </section>

</div>