<div class="">

    <a href="/profile"> Back to Profile </a>

    <nav>
        <ul>
            <li><a href="/local">Local</a></li>
            <li><a href="/global">Global</a></li>
        </ul>
    </nav>

</div>


<p> <a href="/addpost"> New Post </a> </p>

<% @current_user = session[:user] %>
<% @allegiance = @current_user.allegiance %>
<h1> <%= @allegiance %> POSTS </h1>    
        <% $posts.each do |post| %>
            <% if post.post_category == 'local' && post.theme == @allegiance %>
            <h3> <%= post.post_title %> </h3>
            <p> <%= post.author %> </p>
            <p> <%=post.theme %> </p>
            <p> <%= post.post_content %> </p>
            <% else %>
                <p> No community posts. </p>
            <% end %>
        <% end %>

