<div class="profile-grid">
    <% @allegiance = session[:user].allegiance %>
    <% if session[:user] == nil %>
        <p> ERROR 404 </p>
    <% elsif session[:user] != nil %>
    <div class="profile-head">
        <h1> Welcome <%= session[:user].first_name %> </h1>

        <nav>
            <ul>
                <li><a href="/addpost"> New Post </a></li>
                <li><a href="/local"><%= @allegiance %> Community</a></li>
                <li><a href="/global">Global Community</a></li>
            </ul>
        </nav>
    </div>

    <section class="profile-body">

        <div class="profile-pic">
            <img src="/images/profile.jpg" alt="profile pic">
            <form method="POST" action="/profile">
                <input type="url" name="profile_image" placeholder="DOES NOT WORK YET">
                <button type="submit" disabled>Upload</button>
            </form>
            <div class="bio-details">
            <h3> <%= session[:user].first_name %> <%=session[:user].last_name %> </h3>
            <% birthday = session[:user].birthday %>
            <p> Birthday: <%= Date.parse(birthday.to_s) %> </p>
        </div>
        </div>


        <div class="latest-post">
            <h2> Latest Posts </h2>

            <% user_posts = session[:user].posts %>
            <% user_posts.reverse.first(3).each do |post| %>
            <div class="latest-content">
                <h3> <%= post.post_title %> </h3>
                <p id="profile-author"> by <%= post.author %> </p>
                <img src="<%= post.image_url %>" alt="post photo">
                <p id="create-date"> <%= post.created_at %> </p>
                <p id="post-body"> <%= post.post_content %> </p>
            </div>
            <% end %>
        </div>
    </section>
    <% end %>


</div>